.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* MatchCard Hover Styles */
.match-card-hover {
  transition: background-color 0.3s;
}
.match-card-hover:hover .bg-white {
  background-color: #000 !important;
}
.match-card-hover:hover .match-card-img {
  border-color: #fff !important;
  transition: border-color 0.3s;
}
.match-card-hover:hover .match-card-username {
  color: #fff !important;
  transition: color 0.3s;
}
